.container {
  align-items: center;
  background: url(./christmas.jpg) center / 100% 100% no-repeat;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 800px;
  padding: 20px;

  @media (max-width: 630px) {
    background: url(./christmas.jpg) center / 100% 100% no-repeat;
    gap: 10px;
  }
}
